aem-base_image/cq-quickstart-6.*.0.jar
aem-base_image/cq-quickstart-6.*.0.zip
*.deb
*.zip
*.jar
*.tar.gz
license.properties
*/license.properties
*/cq-quickstart-*.jar
*/cq-quickstart-6.5.0.zip
*/jdk-11.0.17_linux-x64_bin.deb
*/*.tar.gz

*/packages
custom
*.class
.prepared.docker-compose.yml*
